#Main_Div {
  width: auto;
  height: 4rem;
  background-color: rgb(52, 97, 245);
  font-size: large;
  font-weight: bold;
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1rem;

}

.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

#Search_btn {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  margin-right: 10px;
  font-weight: bold;
  height: 2rem;
  background-color: #deb52d;
}

#Search_btn:hover {
  background-color: whitesmoke;
  transform: scale(1.05);
  transition-duration: 0.3s;
}

#Search_Bar {
  padding: 5px 15px;
  border: none;
  border-radius: 4px;
  height: 2rem;
  outline: none;
}
#greeting_div {
  color: white;
}

.search-container img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
#logout_btn{
  width: 2rem;
  height:2rem;
  background-color:whitesmoke;
  border-radius:1.8rem;
}
#logout_btn:hover{
  background-color:#deb52b;
}

.cart-container {
  margin-right: -20rem;
  position: relative;
  
}
.cart-badge{
  position: absolute;
  color: white;
  z-index: 100;
  top:-1rem;
  right: 1rem;
  background-color: orange;
  border-radius: 1rem;
}
.cart-btn{
  background-color: #deb52d;
  color: white;
  height: 2rem;
  border-radius: 1rem;
}

